# Import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Read DATASET

In [2]:
df=pd.read_csv("Housing.csv")

In [3]:
df.head(10)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
5,80175.754159,4.988408,6.104512,4.04,26748.428425,1.068138e+06,"06039 Jennifer Islands Apt. 443\nTracyport, KS..."
6,64698.463428,6.025336,8.147760,3.41,60828.249085,1.502056e+06,"4759 Daniel Shoals Suite 442\nNguyenburgh, CO ..."
7,78394.339278,6.989780,6.620478,2.42,36516.358972,1.573937e+06,"972 Joyce Viaduct\nLake William, TN 17778-6483"
8,59927.660813,5.362126,6.393121,2.30,29387.396003,7.988695e+05,USS Gilbert\nFPO AA 20957
9,81885.927184,4.423672,8.167688,6.10,40149.965749,1.545155e+06,Unit 9446 Box 0958\nDPO AE 97025

In [4]:
df=df.drop('Address',axis=1)

In [ ]:
sns.pairplot(df)

In [ ]:
df.isnull().sum()

In [ ]:
X=df.drop('Price',axis=1)
y=df[['Price']]

In [ ]:
sns.pairplot(df,x_vars=X,
    y_vars=y,)

# Standardscaler

In [ ]:
sc=StandardScaler()
X=pd.DataFrame(sc.fit_transform(X),columns=['Avg_Area_Income', 'Avg_Area_House_Age', 'Avg_Area_Number_of_Rooms',
       'Avg_Area_Number_of_Bedrooms', 'Area_Population',])

In [ ]:
X.head()

# Split Data

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

# Build Model

In [ ]:
model=LinearRegression()
model.fit(X_train,y_train)

# check Accuracy and predictions

In [ ]:
model.score(X_train,y_train)

In [ ]:
model.score(X_test,y_test)

# Save Model

In [ ]:
#save the model to disk

import pickle

pickle_out = open("model.pkl", "wb")

pickle.dump(model, pickle_out)

loaded_model = pickle.load(open("model.pkl", "rb"))

result = loaded_model.score(X_test, y_test)
print(result)